<div class="modal-header">
    <h4 class="modal-title">Colombiano Hambriento</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="m-4">
        <form [formGroup]="formulario" class="login-form rounded">
            <p>Cambiar estado de la orden:</p>
              <input type="text" class="forms rounded is-invalid form-control" autofocus="true" required="true" placeholder="Cliente" formControlName="cliente_orden"/> <br>

              <input type="text" class="forms rounded form-control" required="true"
              placeholder="Direccion" formControlName="direccion_orden" /><br>

              <input type="text" class="forms rounded form-control" required="true"
              placeholder="Telefono" formControlName="telefono_orden" /><br>

              <input type="text" class="forms rounded form-control" required="true"
              placeholder="Pago" formControlName="pago_orden" /><br>

              <input type="text" class="forms rounded form-control" required="true"
              placeholder="Modificadores" formControlName="modificadores_orden"/><br>

              <input type="text" class="forms rounded form-control" required="true"
              placeholder="Sucursal" formControlName="Sucursal_orden"/><br>
              <option selected>Elige un estado de la orden</option>
              <select class="form-control" formControlName="estado_orden">
                <option>Completo y enviado</option>
                <option>Cancelado</option>
              </select><br> 
            <button class="btn btn-success" (click)="actualizarOrden()">Actualizar</button>
        </form>
    </div>
</div>
