

<form class="login-form">
    <p class="login-text">
        Registro
    </p>
    <input type="email" class="forms rounded" autofocus="true" required="true" placeholder="Cedula"/>
    <input type="password" class="forms rounded" required="true" placeholder="Correo Electronico" />
    <input type="password" class="forms rounded" required="true" placeholder="Contraseña" />
    <input type="password" class="forms rounded" required="true" placeholder="Nombre" />
    <input type="password" class="forms rounded" required="true" placeholder="Apellido" />
    <input type="password" class="forms rounded" required="true" placeholder="Telefono" />
    <input type="password" class="forms rounded" required="true" placeholder="Direccion" />

    <button class="btn btn-success login-btn login-submit">Registarse</button>
</form>
<div class="underlay-photo"></div>
