<div class="modal-header">
    <h4 class="modal-title">Colombiano Hambriento</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="m-4">
        <form class="login-form rounded">
            <p>Ingresar los datos:</p>
            <select class="form-control" name="ciudad">
                <option selected>Elige una categoria</option>
                <option value="1" *ngFor="let categoria of categorias">{{categoria.nombre_categoria}}</option>
            </select><br>
            <input type="text" class="forms rounded form-control" required="true" placeholder="Nombre del producto"
                name="nombre" /><br>

            <input type="text" class="forms rounded form-control" required="true" placeholder="Descripción"
                name="descripcion" /><br>
            <input type="text" class="forms rounded form-control" required="true" placeholder="Precio"
                name="precio" /><br>
            <input type="file" class="form-control" id="foto" name="foto"><br>
            <select class="form-control" name="estado">
                <option selected>Elige un estado</option>
                <option value="1">Activo</option>
                <option value="1">Desactivo</option>
            </select><br>


            <button class="btn btn-success">Registrar</button>
        </form>
    </div>
</div>