<div class="modal-header">
    <h4 class="modal-title">Colombiano Hambriento</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="m-4">
      <form [formGroup]="formulario" class="login-form rounded">
        <p>Ingresar los datos:</p>
        <p *ngFor="let ciudad of ciudadConsultada">
        <input type="text" class="forms rounded form-control" required="true"
          placeholder="Nombre del departamento" name="departamento" formControlName="departamento" value="{{ciudad.departamento}}"/><br>
        <input type="text" class="forms rounded form-control" required="true" 
        placeholder="Nombre de la ciudad" name="nombre" formControlName="ciudad" value="{{ciudad.nombre_ciudad}}"/><br>
      </p>
        <button class="btn btn-success login-btn login-submit" (click)="editar()">Editar</button>
      </form>
    </div>
  </div>