<div class="modal-header">
  <h4 class="modal-title">Colombiano Hambriento</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="m-4">
    <form [formGroup]="formulario" class="login-form rounded">
      <p>Ingresar los datos:</p>
      <input type="text" class="forms rounded form-control" required="true" placeholder="Nombre de la sucursal"
        formControlName="nombreSucursal"/><br>
      <select class="form-control" formControlName="ciudad" name="ciudad">
        <option selected="true" disabled="disabled">Elige una ciudad</option>
        <option *ngFor="let ciudad of ciudades" value='{{ciudad.id_ciudad}}'>{{ciudad.nombre_ciudad}}</option>
      </select><br>

      <input type="text" class="forms rounded form-control" required="true" placeholder="Dirección"
        formControlName="direccion" name="direccion" /><br>
      <input type="text" class="forms rounded form-control" required="true" placeholder="Teléfono"
        formControlName="telefono" name="telefono" /><br>
      <input type="text" class="forms rounded form-control" required="true" placeholder="Celular" formControlName="celular"
        name="celular" /><br>

      <button class="btn btn-success" (click)="insertar()">Registrar</button>
    </form>
  </div>
</div>