<div class="contents contenedorproduct">
    <p>Registro de productos</p>
    <table class="table table-bordered tabla">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Categoria</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Imagen</th>
                <th scope="col">Estado</th>
                <th scope='col'> Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <th scope="row">{{producto.codigo}}</th>
                <td>{{ producto.categoria}}</td>
                <td>{{ producto.nombre}}</td>
                <td>{{ producto.descripcion}}</td>
                <td><img src="{{producto.img}}" class="card-img-top hvr-grow" alt="..."></td>
                <td>{{ producto.activo}}</td>
                <td>
                    <a class="btn btn-success botonproduct mb-1"> Agregar</a><br>
                    <a class="btn btn-warning botonproduct mb-1"> Editar</a><br>
                    <a class="btn btn-danger botonproduct"> Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshProductos()">
        </ngb-pagination>
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProductos()">
            <option [ngValue]="2">2 items por pagina</option>
            <option [ngValue]="4">4 items por pagina</option>
            <option [ngValue]="6">6 items por pagina</option>
        </select>
    </div>
</div>