<div class="pt-5 text-center">
    <img src='assets/loguito.png' height="60px" width="300px">
</div>
<div class="modal-body">
    <div class="m-4">
        <form [formGroup]="formulario" class="login-form rounded">
            <select class="form-control" formControlName="ciudad" name="ciudad">
                <option selected="true" disabled="disabled">Elige una ciudad</option>
                <option *ngFor="let ciudad of ciudades" value='{{ciudad.id_sucursal}}'>{{ciudad.nombre_ciudad}}</option>
            </select><br>
            <div class="text-center">
                <button class="btn btn-success text-center align-content-center"
                    (click)="setCiudad()">Continuar</button>
            </div>
        </form>
    </div>
</div>
