<div class="modal-header">
    <h4 class="modal-title">Colombiano Hambriento</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="m-4">
      <form [formGroup]="formulario" class="login-form rounded was-validated">
        <p>Ingresar los datos:</p>
        <input type="text" class="forms rounded is-invalid form-control" autofocus="true" required="true"
          placeholder="Cedula" formControlName="cedula" /> <br>
        <div class="row">
          <div class="col-6">
            <input type="text" class="forms rounded is-invalid form-control" required="true" placeholder="Usuario"
              formControlName="usuario" /><br>
          </div>
          <div class="col-6">
            <input type="password" class="forms rounded is-invalid form-control" required="true" placeholder="Contraseña"
              formControlName="clave" /><br>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <input type="text" class="forms rounded is-invalid form-control" required="true" placeholder="Nombre"
              formControlName="nombre" /><br>
          </div>
          <div class="col-6">
            <input type="text" class="forms rounded is-invalid form-control" required="true" placeholder="Apellidos"
              formControlName="apellidos" /><br>
          </div>
        </div>
        <input type="text" class="forms rounded is-invalid form-control" required="true" placeholder="Telefono"
          formControlName="telefono" /><br>
        <input type="email" class="forms rounded is-invalid form-control" required="true" placeholder="Correo Electronico"
          formControlName="correo" /><br>
        <input type="text" class="forms rounded is-invalid form-control" required placeholder="Direccion"
          formControlName="direccion" /><br>
  
        <button class="btn btn-success" (click)="editar()">Editar</button>
      </form>
    </div>
  </div>