<div class="contents contenedor">
    <p>Registro de ciudades</p>
    <table class="table table-bordered tabla">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Departamento</th>
                <th scope='col'> Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ciudad of ciudades">
                <th scope="row">{{ciudad.codigo}}</th>
                <td>
                    {{ ciudad.ciudad }}
                </td>
                <td>{{ ciudad.departamento}}</td>
                <td>
                    <a class="btn btn-success boton"> Agregar</a>
                    <a class="btn btn-warning"> Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refreshCountries()">
        </ngb-pagination>
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>
</div>