<form class="login-form">
    <p class="login-text">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
        </span>
    </p>
    <input type="email" class="login-username rounded" autofocus="true" required placeholder="Correo Electronico" [(ngModel)]="user" name="user" />
    <input type="password" class="login-password rounded" required="true" placeholder="Contraseña" [(ngModel)]="clave" name="clave"/>

    <button class="btn btn-success login-btn login-submit" (click)="login()">Iniciar sesión</button>
</form>
<div class="underlay-photo"></div>