<div class="modal-header">
    <h4 class="modal-title">Colombiano Hambriento</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="m-4">
        <form [formGroup]="formulario" class="login-form rounded">
            <p>Ingresar los datos:</p>
            <input type="text" class="forms rounded form-control" required="true" placeholder="Nombre del modificador"
                formControlName="modificador"/><br>
            <select class="form-control" formControlName="producto">
                <option selected="true" disabled="disabled">Elige un producto</option>
                <option *ngFor="let producto of productos" value='{{ producto.id_producto }}'>{{producto.nombre}}</option>
            </select><br>

            <button class="btn btn-success" (click)="insertar()">Registrar</button>
        </form>
    </div>
</div>