<div class="modal-header">
    <h4 class="modal-title">Colombiano Hambriento</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="m-4">
        <form [formGroup]="formulario" class="login-form rounded was-validated">
            <p>Ingresar los datos:</p>
            <p *ngFor="let categoria of categoriaConsultada">
                <input type="text" class="forms rounded is-invalid form-control" required="true"
                    placeholder="Nombre de categoria" name="nombre" formControlName="categoria"/><br>
            </p>
            <button class="btn btn-success" (click)="editar()">Editar</button>
        </form>
    </div>
</div>