<p>sucursal works!</p>
<div class="contents contenedorSucursal">
    <p>Registro de Sucursales</p>
    <table class="table table-bordered tabla">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre de la sucursal</th>
                <th scope="col">Ciudad</th>
                <th scope='col'>Dirrección</th>
                <th scope='col'>Telefono</th>
                <th scope='col'>Celular</th>
                <th scope='col'> Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sucursal of   sucursales">
                <th scope="row">{{sucursal.codigo}}</th>
                <td>{{ sucursal.nombre_sucursal }}</td>
                <td>{{ sucursal.ciudad }}</td>
                <td>{{ sucursal.direccion}}</td>
                <td>{{ sucursal.telefono }}</td>
                <td>{{ sucursal.celular}}</td>
                <td>
                    <a class="btn btn-success botonSucursal"> Agregar</a>
                    <a class="btn btn-warning botonSucursal"> Editar</a>
                    <a class="btn btn-danger botonSucursal"> Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)=" refreshSucursales()">
        </ngb-pagination>
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)=" refreshSucursales()">
            <option [ngValue]="2">2 items por pagina</option>
            <option [ngValue]="4">4 items por pagina</option>
            <option [ngValue]="6">6 items por pagina</option>
        </select>
    </div>
</div>
