<nav class="navbar navbar-expand-lg navbar-light bg-light">
    


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto menu">
            <li class="nav-item active">
                <a class="navbar-brand" routerLink=''>
                    <span>El colombianito</span>
                    <span><i class="fas fa-address-card" aria-hidden="true"><img src="../../../assets/home.png"></i></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink='menu'>
                    <span>Menu</span>
                    <span><i class="fas fa-address-card" aria-hidden="true"><img src="../../../assets/menu.png"></i></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink='contactenos'>
                    <span>Contactenos</span>
                    <span><i class="fas fa-address-card" aria-hidden="true"><img src="../../../assets/contactenos.png"></i></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink='quienessomos'>
                    <span>Quines somos</span>
                    <span><i class="fas fa-address-card" aria-hidden="true"><img src="../../../assets/quienessomos.png"></i></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink='menu'>
                    <span>Mi carrito</span>
                    <span><i class="fas fa-address-card" aria-hidden="true"><img src="../../../assets/carrito.png"></i></span>
                </a>
            </li>
        </ul>

        <button class="btn btn-success my-2" routerLink='login'>Iniciar sesión</button>
        <button class="btn btn-success my-2 ml-4" routerLink='registro'>Registrarse</button>

    </div>
</nav>