<div class="modal-header">
  <h4 class="modal-title">Colombiano Hambriento</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="m-4">
    <form class="login-form rounded">
      <p>Ingresar los datos:</p>
      <input type="text" class="forms rounded form-control" autofocus="true" required="true"
        placeholder="Cedula" [(ngModel)]="cedula" name="cedula" /> <br>
      <div class="row">
        <div class="col-6">
          <input type="text" class="forms rounded form-control" required="true" placeholder="Usuario"
            [(ngModel)]="usuario" name="usuario" /><br>
        </div>
        <div class="col-6">
          <input type="password" class="forms rounded form-control" required="true" placeholder="Contraseña"
            [(ngModel)]="clave" name="clave" /><br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <input type="text" class="forms rounded form-control" required="true" placeholder="Nombre"
            [(ngModel)]="nombre" name="nombre" /><br>
        </div>
        <div class="col-6">
          <input type="text" class="forms rounded form-control" required="true" placeholder="Apellidos"
            [(ngModel)]="apellido" name="apellido" /><br>
        </div>
      </div>
      <input type="text" class="forms rounded form-control" required="true" placeholder="Telefono"
        [(ngModel)]="telefono" name="telefono" /><br>
      <input type="email" class="forms rounded form-control" required="true" placeholder="Correo Electronico"
        [(ngModel)]="correo" name="correo" /><br>
      <input type="text" class="forms rounded form-control" ngModel required placeholder="Direccion"
        [(ngModel)]="direccion" name="direccion" /><br>
      <select class="form-control" [(ngModel)]="sucursal" name="ciudad">
        <option selected>Elige una sucursal</option>
        <option *ngFor="let sucursal of sucursales" value='{{sucursal.id_sucursal}}'>{{sucursal.nombre_sucursal}}</option>
      </select><br>

      <button class="btn btn-success" (click)="insertar()">Registrar</button>
    </form>
  </div>
</div>