<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand">Administradores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex-column vertical-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="ciudades">Ciudades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sucursales">Sucursales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="categorias">Categorías</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="productos">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="modificadores">Modificadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='registroSucursales'>Administradores sucursales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='registroAdmin'>Superadministradores</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link">Cerrar sesión</a>
      </li>
    </ul>


  </div>
</nav>