<div class="contents contenedorordenes">
    <div class="row">
        <div class="col-6">
            <h3><b>Ordenes</b></h3>
        </div>
    </div>
    <div class="tabl">
        <table class="table table-bordered tabla">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Dirreción</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Pago</th>
                    <th scope='col'>Estado</th>
                    <th scope='col'>Adicionales</th>
                    <th scope='col'>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orden of ordenes">
                    <th scope="row">{{orden.cliente}}</th>
                    <td>{{ orden.direccion }}</td>
                    <td>{{ orden.telefono}}</td>
                    <td>{{ orden.pago}}</td>
                    <td>{{ orden.estado}}</td>
                    <td>{{ orden.modificadores}}</td>
                    <td>
                        <a class="btn btn-success botonproduct mb-1" (click)="EditarEstadoOrden(orden.id_orden)">Estado de la orden</a><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

